{% if uuid is not empty %}
    {% set currency = createModel('Currency','currency').findById(uuid) %}  
{% endif %}
{% component 'system:admin.panel' %}
    <table class="{{ theme.table.details }}">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.id }}</td>
                <td>
                    {{ component('system:admin.view.id',{ model: currency }) }}                    
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.status }}</td>
                <td>
                    {{ component('system:admin.status.label',{ status: currency.status }) }}                   
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.title }}</td>
                <td>
                    {{ currency.title }}
                </td>
            </tr>
            <tr>
                <td class=" {{ theme.table.field.label }}">
                    {{ labels.code }}
                </td>
                <td>
                    <div class="ui basic label">
                        {{ currency.code }}
                    </div>
                </td>
            </tr>    
            {% if currency.getExchangeRate() is not empty %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.rate }}</td>
                <td>
                    <div class="badge badge-outline badge-sm">USD</div>    
                    <span>
                        {{ currency.getExchangeRate() }}
                    </span>                                       
                </td>
            </tr>    
            {% endif %}              
        </tbody>  
    </table>     
{% endcomponent %}