{% component 'components:view.rows' %}

{% set model = createModel('Products','products').orderBy('title') %}
{{ createSearch('title','products','like:%{value}%','and') }}
{% set model = applySearch(model,'products') %}
{% set items = paginate(model,'products') %}

{% for item in items.getItems() %}  
    <tr id="{{ item.uuid }}">              
        <td>               
            <button class="ui icon mini basic button edit-button" uuid="{{ item.uuid }}">
                <i class="icon edit"></i>
            </button>            
            <button class="ui icon mini basic button delete-button" uuid="{{ item.uuid }}" data-title="{{ item.title }}">
                <i class="icon trash orange"></i>
            </button>                        
        </td>
        <td>{{ item.date_created|dateFormat }}</td>  
        <td>
            {{ component('components:status.dropdown',{ status: item.status, uuid: item.uuid, skip: [2,3,4,5] }) }}
        </td>
        <td>
           {{ item.type.title }}       
        </td>
        <td>{{ item.title }}</td>         
        <td>
            {% for category in item.categories %}
            <div class="ui mini left pointign basic label">
                {{ category.getTitle()|string }}
            </div>            
            {% endfor %}
        </td>                  
        <td>
            {{ component('products::admin.products.price',{ product: item }) }}          
        </td>                        
    </tr>
{% endfor %}
{% endcomponent %}