{% component 'components:tabs.vertical.content' %}
{% set class = 'sixteen wide column' %}
{% set panel_class = '' %}

<div class="mt-8">
    <table class="ui compact stackable selectable borderless basic table">
        <thead class="table-head">
            <tr>              
                <th class="one wide collapsing left aligned">{{ columns.action }}</th>               
                <th class="">{{ columns.title }}</th>                                                   
            </tr>
        </thead>
        <tbody id="product_rows" component="products::admin.products.type.view.rows" namespace="products">
            {{ component('products::admin.products.type.view.rows') }} 
        </tbody>
    </table> 
</div>
{% endcomponent %}