{% set data_field = data_field|default('uuid') %}
{% set model = createModel('Currency','currency') %}
{% set items = model.getActive().orderBy('code').get() %}
{% if selected is empty %}
    {% set selected = model.getDefault() %}
{% endif %}

{% set selected_value = (selected is empty) ? null : selected[data_field] %}
<select 
    name="{{ name|default('currency') }}"
    class="select {{ size|default('select-sm') }} currency-dropdown {{ class }}" 
    id="{{ id|default('currency_dropdown') }}">
    {% if hide_empty =! true %}
        <option 
            value=""
            {{ (selected_value == item[data_field]) ? 'selected' : '' }}>
            {{ labels.select }}
        </option>
    {% endif %}

    {% for item in items %}
        <option 
            {{ (selected_value == item[data_field]) ? 'selected' : '' }}
            value="{{ item[data_field] }}" 
            currency-code="{{ item.code }}" 
            currency-icon="{{ item.icon }}">
            {{ item.code }}
        </option>
    {% endfor %}    
</select>