{% set id = id|default('currency_dropdown') %}
{% set name = name|default('currency') %}
{% set size = size|default(5) %}
{% set class = class|default('selection') %}
{% set data_field = data_field|default('uuid') %}
{% set model = createModel('Currency','currency') %}
{% set currency = model.getActive().orderBy('code') %}
{% set items = currency.take(size).get() %}
{% if selected is empty %}
    {% set selected = model.getDefault() %}
{% endif %}
{% set selectet_text = (selected is empty) ? labels.select : selected.code %}
{% set selected_value = (selected is empty) ? null : selected[data_field] %}
<div class="ui search dropdown currency-dropdown {{ class }}" id="{{ id }}">
    <input name="{{ name }}" type="hidden" value="{{ selected_value }}">
    {% if hide_icon != true %}
    <i class="money bill alternate outline icon {{ icon }}"></i>
    {% endif %}
    <div class="text">{{ selectet_text }}</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        {% for item in items %}
            <div class="item" data-value="{{ item[data_field] }}" currency-code="{{ item.code }}" currency-icon="{{ item.icon }}">
                {{ item.code }}
            </div>
        {% endfor %}
    </div>
</div>