{% component 'components:view.rows' %}
{% set model = createModel('ProductType','products').orderBy('title') %}
{% set items = paginate(model,'product-type') %}

{% for item in items.getItems() %}  
    <tr id="{{ item.uuid }}">              
        <td>  
            <div class="ui buttons">        
                <button class="ui icon mini basic button edit-button" uuid="{{ item.uuid }}">
                    <i class="icon edit"></i>
                </button>            
                <button class="ui icon mini basic button delete-button" uuid="{{ item.uuid }}" data-title="{{ item.title }}">
                    <i class="icon trash orange"></i>
                </button>  
            </div>          
        </td>         
        <td>{{ item.title }}</td>                 
    </tr>
{% endfor %}
{% endcomponent %}