{% set items = [ 
    { title: labels.view, component: 'products::admin.currency.view', icon: 'list', active: true },
    { title: labels.add, component: 'products::admin.currency.add', icon: 'plus' },
    { title: labels.edit, component: 'products::admin.currency.edit', icon: 'edit' }
] %}

{{  component('components:tabs.vertical',{ 
        items: items, 
        menu: { id: 'currency_menu' }, 
        item_class: 'currency-tab-item',
        content: { 
            component: 'products::admin.currency.view', 
            params: params,
            id: "currency_content" 
        } 
    })
}}