{% if uuid is not empty %}
    {% set item = createModel('Currency','currency').findById(uuid) %}
{% endif %}
<tr id="row_{{ item.uuid }}">        
    <td>
        <button 
            title="{{ labels.details }}"
            mountTo="details_content"
            component="currency::admin.currency.details"
            class="{{ theme.buttons.icon }} currency-action" 
            params="uuid:{{ item.uuid }}">
            {{ component('icons~info',theme.icons.menu,'svg') }}           
        </button>
        <button 
            title="{{ labels.rates }}"
            mountTo="details_content"
            component="currency::admin.currency.rates"
            class="{{ theme.buttons.icon }} currency-action" 
            params="uuid:{{ item.uuid }}">
            {{ component('icons~billing',theme.icons.menu,'svg') }}           
        </button>
        <button 
            class="{{ theme.buttons.icon }} edit-currency" 
            uuid="{{ item.uuid }}">
            {{ component('icons~edit',theme.icons.menu,'svg') }}
        </button>
        <button 
            class="{{ theme.buttons.icon }} delete-currency" 
            uuid="{{ item.uuid }}" 
            data-title="{{ item.title }}">
            {{ component('icons~trash',theme.icons.delete,'svg') }}                 
        </button>      
        {% if item.default == '1' %}
            <div class="badge badge-sm badge-outline badge-primary default-label">{{ labels.primary }}</div>
        {% else %}
            <button 
                class="{{ theme.buttons.icon }} default-currency" 
                uuid="{{ item.uuid }}" title="{{ labels.set }}">                
                {{ component('icons~check',theme.icons.green,'svg') }}    
            </button>
        {% endif %}                   
    </td>
    <td>
        {{  component('system:admin.status.dropdown',{ 
                status: item.status, 
                uuid: item.uuid, 
                skip: [2,3,4,5] 
            }) 
        }} 
    </td>
    <td>{{ item.code }}</td>
    <td>{{ item.sign }}</td>
    <td>
        {% if item.svg_icon is not empty %}
            
        {% endif %}
    </td>
    <td>
        {% if item.crypto == 1 %}
            <div class="badge badge-sm badge-outline badge-info">
                {{ labels.crypto }}
            </div>
        {% endif %}
        {% if item.private == 1 %}
            <div class="badge badge-sm badge-outline badge-warning">
                {{ labels.private }}
            </div>
        {% endif %}
        {{ item.title }}      
    </td>            
</tr>