<div class="{{ theme.panel }}">
    <button 
        mountTo="details_content"
        component="currency::admin.currency.add"
        title="{{ tooltip.create }}"
        class="{{ theme.buttons.green }} create-currency">
        {{ buttons.create }}
    </button>        
</div>
<div class="mt-4 {{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>                          
                <th >{{ columns.action }}</th>
                <th >{{ columns.status }}</th>
                <th >{{ columns.code }}</th>
                <th >{{ columns.sign }}</th>
                <th >{{ columns.icon }}</th>      
                <th>{{ columns.title }}</th>               
            </tr>
        </thead>
        <tbody 
            id="items_list" 
            crypto="{{ crypto }}"
            component="currency::admin.currency.view.rows" 
            namespace="currency">
            {{ component('currency::admin.currency.view.rows',{ crypto: crypto }) }}   
        </tbody>  
    </table>
    <div class="my-2 ml-2" id="paginator">        
    </div>
</div>